<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>temperature-chart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar value={{sensorTopic}}
(ionInput)='onChangeSensor($event.detail.value)'></ion-searchbar>

<ion-content>
  <canvas baseChart 
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [plugins]="chartPlugins"
    [legend]="chartLegend"
    [chartType]="chartType">
  </canvas>
</ion-content>
