<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>temperature-chart</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-input type="text" color="primary" [(ngModel)]="location">Location: </ion-input>
  <ion-input type="text" color="primary" [(ngModel)]="name">Sensor Name:</ion-input>
  <ion-button (click)="onSensorChange()" expand="block" shape="round">
    Change
  </ion-button>

  <canvas baseChart 
    [labels]="chartLabels"
    [datasets]="chartData"
    [options]="chartOptions"
    [legend]="chartLegend"
    [chartType]="chartType">
  </canvas>
</ion-content>